In [1]:
from pyspark.sql import SparkSession

In [3]:
ss = SparkSession.builder.getOrCreate()

In [4]:
ss

In [37]:
df = ss.read.options(delimiter=',', header=True).csv("AdvWorksData.csv", header=True)

In [38]:
df.show(1)

+---------------+------------------+------------+--------------+--------------+-----+-------+----------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+----------+-------------+---------+
|productcategory|productsubcategory|     product| saleterritory|       Country| City|   Sate|  Customer|   Employee|OrderCount|OrderDate|StandardCost|UnitPrice|UnitPriceDiscount|Discount|ListPrice|SaleswithStandard|  NetSales|OrderQuantity|    Sales|
+---------------+------------------+------------+--------------+--------------+-----+-------+----------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+----------+-------------+---------+
|       Clothing|              Caps|AWC Logo Cap|United Kingdom|United Kingdom|Berks|England|Gary Suess|Amy Alberts|         1|  00:00.0|      6.9223|   5.0136|             0.02|  1.4038|   8.6442|          96.9122|-28.125608|           14|68.786592|
+---------------+------------------+------------+--------------+--------------+-----+-------+----------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+----------+-------------+---------+
only showing top 1 row

In [39]:
type(df)

pyspark.sql.dataframe.DataFrame

In [40]:
df.printSchema()

root
 |-- productcategory: string (nullable = true)
 |-- productsubcategory: string (nullable = true)
 |-- product: string (nullable = true)
 |-- saleterritory: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sate: string (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Employee: string (nullable = true)
 |-- OrderCount: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- StandardCost: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- UnitPriceDiscount: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- SaleswithStandard: string (nullable = true)
 |-- NetSales: string (nullable = true)
 |-- OrderQuantity: string (nullable = true)
 |-- Sales: string (nullable = true)

In [41]:
df.columns

['productcategory',
 'productsubcategory',
 'product',
 'saleterritory',
 'Country',
 'City',
 'Sate',
 'Customer',
 'Employee',
 'OrderCount',
 'OrderDate',
 'StandardCost',
 'UnitPrice',
 'UnitPriceDiscount',
 'Discount',
 'ListPrice',
 'SaleswithStandard',
 'NetSales',
 'OrderQuantity',
 'Sales']

In [47]:
data.filter(data.City == "London").show()

+---------------+------------------+--------------------+--------------+--------------+------+-------+---------------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+---------+-------------+---------+
|productcategory|productsubcategory|             product| saleterritory|       Country|  City|   Sate|       Customer|   Employee|OrderCount|OrderDate|StandardCost|UnitPrice|UnitPriceDiscount|Discount|ListPrice|SaleswithStandard| NetSales|OrderQuantity|    Sales|
+---------------+------------------+--------------------+--------------+--------------+------+-------+---------------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+---------+-------------+---------+
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     15.6709|  20.8945|             0.05| 16.7156|    37.99|         250.7344|   66.862|           16| 317.5964|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     15.6709|   22.794|                0|       0|    37.99|          31.3418|  14.2462|            2|   45.588|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     15.6709|   22.794|                0|       0|    37.99|          15.6709|   7.1231|            1|   22.794|
|     Components|            Wheels|HL Mountain Rear ...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|    145.2835|  196.329|                0|       0|  327.215|          581.134|  204.182|            4|  785.316|
|     Components|            Wheels|LL Mountain Front...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     26.9708|   36.447|                0|       0|   60.745|          26.9708|   9.4762|            1|   36.447|
|     Components|            Wheels|LL Mountain Rear ...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     38.9588|   52.647|                0|       0|   87.745|          77.9176|  27.3764|            2|  105.294|
|     Components|   Mountain Frames|ML Mountain Frame...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|    185.8193|  209.256|                0|       0|   348.76|         557.4579|  70.3101|            3|  627.768|
|     Components|        Handlebars|ML Mountain Handl...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     27.4925|  33.7745|                0|       0|  56.2909|          27.4925|    6.282|            1|  33.7745|
|          Bikes|    Mountain Bikes|Mountain-200 Blac...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1251.9813|1229.4589|                0|       0|2049.0982|        3755.9439| -67.5672|            3|3688.3767|
|          Bikes|    Mountain Bikes|Mountain-200 Blac...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1251.9813|1229.4589|                0|       0|2049.0982|        7511.8878|-135.1344|            6|7376.7534|
|          Bikes|    Mountain Bikes|Mountain-200 Silv...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1265.6195|1242.8518|                0|       0|2071.4196|         2531.239| -45.5354|            2|2485.7036|
|          Bikes|    Mountain Bikes|Mountain-200 Silv...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1265.6195|1242.8518|                0|       0|2071.4196|         2531.239| -45.5354|            2|2485.7036|
|          Bikes|    Mountain Bikes|Mountain-200 Silv...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1265.6195|1242.8518|                0|       0|2071.4196|         2531.239| -45.5354|            2|2485.7036|
|       Clothing|              Caps|        AWC Logo Cap|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|      6.9223|   5.1865|                0|       0|   8.6442|          13.8446|  -3.4716|            2|   10.373|
|     Components|            Wheels|  LL Road Rear Wheel|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|     49.9789|   67.539|                0|       0|  112.565|          49.9789|  17.5601|            1|   67.539|
|       Clothing|           Jerseys|Long-Sleeve Logo ...|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|     38.4923|  28.8404|                0|       0|  48.0673|          76.9846| -19.3038|            2|  57.6808|
|     Components|       Road Frames|ML Road Frame-W -...|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    360.9428| 324.4527|                0|       0| 540.7545|         360.9428| -36.4901|            1| 324.4527|
|          Bikes|        Road Bikes|  Road-650 Black, 52|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    486.7066|  469.794|                0|       0|   782.99|         486.7066| -16.9126|            1|  469.794|
|          Bikes|        Road Bikes|  Road-650 Black, 58|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    486.7066|  469.794|                0|       0|   782.99|         486.7066| -16.9126|            1|  469.794|
|          Bikes|        Road Bikes|    Road-650 Red, 44|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    486.7066|  469.794|                0|       0|   782.99|         486.7066| -16.9126|            1|  469.794|
+---------------+------------------+--------------------+--------------+--------------+------+-------+---------------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+---------+-------------+---------+
only showing top 20 rows

In [48]:
df.show(2)

+---------------+------------------+------------+--------------+--------------+-----+-------+----------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+----------+-------------+---------+
|productcategory|productsubcategory|     product| saleterritory|       Country| City|   Sate|  Customer|   Employee|OrderCount|OrderDate|StandardCost|UnitPrice|UnitPriceDiscount|Discount|ListPrice|SaleswithStandard|  NetSales|OrderQuantity|    Sales|
+---------------+------------------+------------+--------------+--------------+-----+-------+----------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+----------+-------------+---------+
|       Clothing|              Caps|AWC Logo Cap|United Kingdom|United Kingdom|Berks|England|Gary Suess|Amy Alberts|         1|  00:00.0|      6.9223|   5.0136|             0.02|  1.4038|   8.6442|          96.9122|-28.125608|           14|68.786592|
|    Accessories|             Locks|  Cable Lock|United Kingdom|United Kingdom|Berks|England|Gary Suess|Amy Alberts|         1|  00:00.0|     10.3125|       15|                0|       0|       25|           61.875|    28.125|            6|       90|
+---------------+------------------+------------+--------------+--------------+-----+-------+----------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+----------+-------------+---------+
only showing top 2 rows

In [49]:
df.filter(df['City']=='London').show()

+---------------+------------------+--------------------+--------------+--------------+------+-------+---------------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+---------+-------------+---------+
|productcategory|productsubcategory|             product| saleterritory|       Country|  City|   Sate|       Customer|   Employee|OrderCount|OrderDate|StandardCost|UnitPrice|UnitPriceDiscount|Discount|ListPrice|SaleswithStandard| NetSales|OrderQuantity|    Sales|
+---------------+------------------+--------------------+--------------+--------------+------+-------+---------------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+---------+-------------+---------+
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     15.6709|  20.8945|             0.05| 16.7156|    37.99|         250.7344|   66.862|           16| 317.5964|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     15.6709|   22.794|                0|       0|    37.99|          31.3418|  14.2462|            2|   45.588|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     15.6709|   22.794|                0|       0|    37.99|          15.6709|   7.1231|            1|   22.794|
|     Components|            Wheels|HL Mountain Rear ...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|    145.2835|  196.329|                0|       0|  327.215|          581.134|  204.182|            4|  785.316|
|     Components|            Wheels|LL Mountain Front...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     26.9708|   36.447|                0|       0|   60.745|          26.9708|   9.4762|            1|   36.447|
|     Components|            Wheels|LL Mountain Rear ...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     38.9588|   52.647|                0|       0|   87.745|          77.9176|  27.3764|            2|  105.294|
|     Components|   Mountain Frames|ML Mountain Frame...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|    185.8193|  209.256|                0|       0|   348.76|         557.4579|  70.3101|            3|  627.768|
|     Components|        Handlebars|ML Mountain Handl...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|     27.4925|  33.7745|                0|       0|  56.2909|          27.4925|    6.282|            1|  33.7745|
|          Bikes|    Mountain Bikes|Mountain-200 Blac...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1251.9813|1229.4589|                0|       0|2049.0982|        3755.9439| -67.5672|            3|3688.3767|
|          Bikes|    Mountain Bikes|Mountain-200 Blac...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1251.9813|1229.4589|                0|       0|2049.0982|        7511.8878|-135.1344|            6|7376.7534|
|          Bikes|    Mountain Bikes|Mountain-200 Silv...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1265.6195|1242.8518|                0|       0|2071.4196|         2531.239| -45.5354|            2|2485.7036|
|          Bikes|    Mountain Bikes|Mountain-200 Silv...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1265.6195|1242.8518|                0|       0|2071.4196|         2531.239| -45.5354|            2|2485.7036|
|          Bikes|    Mountain Bikes|Mountain-200 Silv...|United Kingdom|United Kingdom|London|England|   Linda Martin|Amy Alberts|         1|  00:00.0|   1265.6195|1242.8518|                0|       0|2071.4196|         2531.239| -45.5354|            2|2485.7036|
|       Clothing|              Caps|        AWC Logo Cap|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|      6.9223|   5.1865|                0|       0|   8.6442|          13.8446|  -3.4716|            2|   10.373|
|     Components|            Wheels|  LL Road Rear Wheel|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|     49.9789|   67.539|                0|       0|  112.565|          49.9789|  17.5601|            1|   67.539|
|       Clothing|           Jerseys|Long-Sleeve Logo ...|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|     38.4923|  28.8404|                0|       0|  48.0673|          76.9846| -19.3038|            2|  57.6808|
|     Components|       Road Frames|ML Road Frame-W -...|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    360.9428| 324.4527|                0|       0| 540.7545|         360.9428| -36.4901|            1| 324.4527|
|          Bikes|        Road Bikes|  Road-650 Black, 52|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    486.7066|  469.794|                0|       0|   782.99|         486.7066| -16.9126|            1|  469.794|
|          Bikes|        Road Bikes|  Road-650 Black, 58|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    486.7066|  469.794|                0|       0|   782.99|         486.7066| -16.9126|            1|  469.794|
|          Bikes|        Road Bikes|    Road-650 Red, 44|United Kingdom|United Kingdom|London|England|Stefano Stefani|Amy Alberts|         1|  00:00.0|    486.7066|  469.794|                0|       0|   782.99|         486.7066| -16.9126|            1|  469.794|
+---------------+------------------+--------------------+--------------+--------------+------+-------+---------------+-----------+----------+---------+------------+---------+-----------------+--------+---------+-----------------+---------+-------------+---------+
only showing top 20 rows

In [50]:
df.columns

['productcategory',
 'productsubcategory',
 'product',
 'saleterritory',
 'Country',
 'City',
 'Sate',
 'Customer',
 'Employee',
 'OrderCount',
 'OrderDate',
 'StandardCost',
 'UnitPrice',
 'UnitPriceDiscount',
 'Discount',
 'ListPrice',
 'SaleswithStandard',
 'NetSales',
 'OrderQuantity',
 'Sales']

In [59]:
df1 = df[['productcategory','saleterritory','OrderDate',"Sales"]]

In [60]:
df1.show()

+---------------+--------------+---------+---------+
|productcategory| saleterritory|OrderDate|    Sales|
+---------------+--------------+---------+---------+
|       Clothing|United Kingdom|  00:00.0|68.786592|
|    Accessories|United Kingdom|  00:00.0|       90|
|       Clothing|United Kingdom|  00:00.0|  182.352|
|       Clothing|United Kingdom|  00:00.0| 317.5964|
|       Clothing|United Kingdom|  00:00.0|  159.558|
|       Clothing|United Kingdom|  00:00.0|   45.588|
|       Clothing|United Kingdom|  00:00.0|   22.794|
|       Clothing|United Kingdom|  00:00.0|   22.794|
|       Clothing|United Kingdom|  00:00.0|  42.3867|
|       Clothing|United Kingdom|  00:00.0| 113.0312|
|       Clothing|United Kingdom|  00:00.0|  42.3867|
|     Components|United Kingdom|  00:00.0|  826.164|
|     Components|United Kingdom|  00:00.0|  149.676|
|     Components|United Kingdom|  00:00.0| 1472.291|
|     Components|United Kingdom|  00:00.0| 736.1455|
|     Components|United Kingdom|  00:00.0| 744.2727|
|     Components|United Kingdom|  00:00.0|4465.6362|
|     Components|United Kingdom|  00:00.0|2232.8181|
|     Components|United Kingdom|  00:00.0|  360.258|
|     Components|        France|  00:00.0|  65.6018|
+---------------+--------------+---------+---------+
only showing top 20 rows

In [80]:
df1.show()

+---------------+--------------+---------+---------+
|productcategory| saleterritory|OrderDate|    Sales|
+---------------+--------------+---------+---------+
|       Clothing|United Kingdom|  00:00.0|68.786592|
|    Accessories|United Kingdom|  00:00.0|       90|
|       Clothing|United Kingdom|  00:00.0|  182.352|
|       Clothing|United Kingdom|  00:00.0| 317.5964|
|       Clothing|United Kingdom|  00:00.0|  159.558|
|       Clothing|United Kingdom|  00:00.0|   45.588|
|       Clothing|United Kingdom|  00:00.0|   22.794|
|       Clothing|United Kingdom|  00:00.0|   22.794|
|       Clothing|United Kingdom|  00:00.0|  42.3867|
|       Clothing|United Kingdom|  00:00.0| 113.0312|
|       Clothing|United Kingdom|  00:00.0|  42.3867|
|     Components|United Kingdom|  00:00.0|  826.164|
|     Components|United Kingdom|  00:00.0|  149.676|
|     Components|United Kingdom|  00:00.0| 1472.291|
|     Components|United Kingdom|  00:00.0| 736.1455|
|     Components|United Kingdom|  00:00.0| 744.2727|
|     Components|United Kingdom|  00:00.0|4465.6362|
|     Components|United Kingdom|  00:00.0|2232.8181|
|     Components|United Kingdom|  00:00.0|  360.258|
|     Components|        France|  00:00.0|  65.6018|
+---------------+--------------+---------+---------+
only showing top 20 rows

In [68]:
saleterritory.show()

+--------------+-----+
| saleterritory|count|
+--------------+-----+
|       Germany| 1864|
|        France| 3530|
|     Northwest| 7872|
|     Southeast| 5937|
|       Central| 5812|
|        Canada|11444|
|     Southwest|13379|
|United Kingdom| 3520|
|     Northeast| 5809|
|     Australia| 1713|
+--------------+-----+

In [76]:
from pyspark.sql.functions import sum

In [79]:
totalsaleTerritory = df1.groupBy("saleterritory").sum('Sales').alias("TotalSales")

AnalysisException: "Sales" is not a numeric column. Aggregation function can only be applied on a numeric column.

In [75]:
totalsaleTerritory.show()

+--------------+--------------------+
| saleterritory|          TotalSales|
+--------------+--------------------+
|       Germany|  2021095.2576909985|
|        France|   4607537.932666985|
|     Northwest|1.2435075996397952E7|
|     Southeast|   7867416.222559907|
|       Central|   7906008.176275973|
|        Canada|1.4377925592779167E7|
|     Southwest|1.8466458788631964E7|
|United Kingdom|   4279008.824590983|
|     Northeast|   6932842.012822982|
|     Australia|   1594335.374912995|
+--------------+--------------------+